.video {
    color: white;
    transition: .2s ease-out;
    width: 22vw;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    background:
        radial-gradient(circle at 85% 50%,
            rgba(0, 80, 255, 0.35),
            transparent 55%),
        linear-gradient(110deg,
            #000000 0%,
            #000d2e 35%,
            #001f66 70%,
            #06164d 100%);

    .img {
        position: relative;

        img {
            width: 100%;
            border-radius: 20px;
        }
    }

    .card-text {
        text-align: center;
        width: 4vw;
        float: right;
        position: relative;
        margin-top: -5.7vh;
        margin-right: .5vw;
        padding: 5px 15px;
        border-radius: 1000px;
        background: linear-gradient(90deg,
                rgb(43, 46, 226),
                darkviolet,
                rgb(162, 130, 238));
    }

    a {
        color: white;
        text-decoration: none;
    }

    .texts {
        h2 {
            font-size: 20px;
            margin: 10px 0;
        }

        p {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
            line-height: 30px;
        }
    }

    .nivelamento {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50%;
        border-radius: 1000px;
        background:
            linear-gradient(90deg,
                rgb(43, 46, 226),
                darkviolet,
                rgb(162, 130, 238));
        ;
        padding: 5px 10px;
        gap: 10px;
        font-size: 15px;
        margin-top: 20px;
    }

    &:hover{
        transform: scale(1.04) translateY(-8px);
    }
}